$width_container: 1470px;
$width_content_boxs_wrapper: 1149px;
$width_percent: 100%;
$color_white: #ffffff;
$color_black: #000000;
$color_twoBlack: #1f1f1d;
$color_btn: #303030;
$uppercase: uppercase;
