@font-face{
    font-family: "Kanit-Regular";
    src: url(../fonts/Kanit-Regular.ttf);
}
@font-face{
    font-family: "Kanit-ExtraLight";
    src: url(../fonts/Kanit-ExtraLight.ttf);
}
@font-face{
    font-family: "Kanit-Medium";
    src: url(../fonts/Kanit-Medium.ttf);
}